<h2 mat-dialog-title>Detalhes do Livro</h2>

<mat-dialog-content>
  <mat-list>
    <mat-list-item>
      <span matListItemTitle>Código</span>
      <span matListItemLine>{{ livro.codl }}</span>
    </mat-list-item>
    
    <mat-divider></mat-divider>
    
    <mat-list-item>
      <span matListItemTitle>Título</span>
      <span matListItemLine>{{ livro.titulo }}</span>
    </mat-list-item>
    
    <mat-divider></mat-divider>
    
    <mat-list-item>
      <span matListItemTitle>Autor</span>
      <span matListItemLine>{{ livro.autor }}</span>
    </mat-list-item>
    
    <mat-divider></mat-divider>
    
    <mat-list-item>
      <span matListItemTitle>Assunto</span>
      <span matListItemLine>{{ livro.assunto }}</span>
    </mat-list-item>
    
    <mat-divider></mat-divider>
    
    <mat-list-item>
      <span matListItemTitle>Editora</span>
      <span matListItemLine>{{ livro.editora }}</span>
    </mat-list-item>
    
    <mat-divider></mat-divider>
    
    <mat-list-item>
      <span matListItemTitle>Edição</span>
      <span matListItemLine>{{ livro.edicao }}ª Edição</span>
    </mat-list-item>
    
    <mat-divider></mat-divider>
    
    <mat-list-item>
      <span matListItemTitle>Ano de Publicação</span>
      <span matListItemLine>{{ livro.anoPublicacao }}</span>
    </mat-list-item>
    
    <mat-divider></mat-divider>
    
    <mat-list-item>
      <span matListItemTitle>Valor</span>
      <span matListItemLine>{{ livro.valor | currency:'BRL' }}</span>
    </mat-list-item>
    
    <mat-divider></mat-divider>
    
    <mat-list-item>
      <span matListItemTitle>Última Atualização</span>
      <span matListItemLine>{{ livro.atualizadoEm | date:'dd/MM/yyyy HH:mm' }}</span>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>